spring:
  application:
    name: fitness-management-api

  datasource:
    url: jdbc:h2:mem:fitnessdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

    h2:
      console:
      enabled: true
      path: /h2-console

    jpa:
      show-sql: true
      open-in-view: false
      hibernate:
        dll-auto: update
    server:
      port: 8080